/*#static-image{
  height:  auto;
  width: 100%;
}*/

#first-row{
  max-height: 600px;

  margin-bottom: 40px;
}

.carousel-inner {
    margin: 0 auto;
}

#myCarouselLifestyle2{
  overflow: hidden;
  height: 100%;
}

#lifestyle{
  max-height: 682px;
  overflow: hidden;
}

.carousel-inner > .item > img {

  width: 100%;
}
